*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
button {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 12px;
  background-color: #000;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button-budget {
  padding: 11px 28px;
  border: none;
  background: #969696;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header__button-budget:hover {
  background: #8f8f8f;
}

.header__button-remove {
  padding: 11px 33px;
  border: none;
  background: #CF3520;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header__button-remove:hover {
  background: #c4321f;
}

.app {
  padding: 40px 0 0 0;
}

.app .app__wrapper {
  padding-left: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .app__filter {
  padding-left: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
}

.app .app__filter-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.app .app__filter-categories {
  position: relative;
}

.app .app__filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5px;
}

.app .app__filter-price input {
  width: 110px;
  padding: 3px 7px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app .app__filter-price input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app .app__filter-price input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app .app__filter-price input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app .app__filter-price input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app .app__budget {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.app .app__budget span {
  color: #969696;
}

.app .app__categories-title {
  padding-right: 23px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  position: relative;
  cursor: pointer;
}

.app .app__categories-title::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url(../img/arrow-down.svg) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.app .app__categories-list {
  display: none;
}

.app .app__filter-categories.active .app__categories-list {
  width: 150px;
  padding: 19px;
  background: #000;
  color: #fff;
  list-style: none;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: -210px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
}

.app .app__filter-categories.active .app__categories-list li {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.app .app__filter-categories.active .app__categories-list li:last-child {
  margin-bottom: 0;
}

.app .app__filter-categories.active .app__categories-title::before {
  -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
}

.app .app__price-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.app__inner {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
}

.app__form {
  font-family: 'Ubunty', sans-serif;
  width: 350px;
  background: #000;
  color: #fff;
}

.app__form-wrapper {
  padding: 30px 30px 20px 30px;
}

.app__form-title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.app__form input {
  width: 290px;
  margin-bottom: 15px;
  padding: 3px 7px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
  display: block;
  background: #000;
}

.app__form input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app__form input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app__form input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app__form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
}

.app__form-select {
  position: relative;
}

.app__form button {
  width: 100%;
  padding: 10px 133px;
  display: block;
  background-color: #19A127;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.app__form button:hover {
  background: #178d23;
}

.app .app__select-title {
  width: 290px;
  margin-bottom: 15px;
  padding: 3px 27px 3px 7px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #969696;
  display: block;
  background: #000;
  position: relative;
  cursor: pointer;
}

.app .app__select-title::before {
  content: '';
  width: 20px;
  height: 20px;
  background: url(../img/arrow-down-2.svg) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.app .app__select-list {
  display: none;
}

.app .app__form-select.active .app__select-list {
  width: 290px;
  padding: 20px 30px;
  border-radius: 5px;
  display: block;
  list-style: none;
  position: absolute;
  left: 0;
  bottom: -233px;
  background: #000;
}

.app .app__form-select.active .app__select-list li {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.app .app__form-select.active .app__select-list li:last-child {
  margin-bottom: 0;
}

.app .app__form-select.active .app__select-title::before {
  -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
}

.app .app__table-header, .app .app__table .app__row {
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .app__table-header, .app .app__table .app__table-rows {
  border-bottom: 2px solid #000;
}

.app .app__row {
  text-align: center;
}

.app .app__header-name, .app .app__row-name {
  width: 104px;
}

.app .app__header-amount, .app .app__row-amount {
  width: 143px;
  padding: 0 19px;
}

.app .app__header-price, .app .app__row-price {
  width: 192px;
  padding: 0 19px;
}

.app .app__header-tag, .app .app__row-tag {
  width: 131px;
  padding: 0 14px;
}

.app .app__header-calc, .app .app__row-calc {
  width: 200px;
  padding-left: 22px;
}

.app__header-name {
  padding: 0;
  text-align: left;
}

.app .app__row-tag--color {
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.app .app__row-tag--yellow {
  padding: 7px 15px;
  background-color: #FFB800;
}

.app .app__row-tag--purple {
  padding: 7px 26px;
  background-color: #5025AB;
}

.app .app__table-result {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.app .app__table-result span {
  margin-left: 5px;
}
