*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
// header

.header {
  padding: 12px;
  background-color: #000;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FFFFFF;
    text-decoration: none;
  }

  &__buttons {
    display: flex;
    gap: 0 30px;
    align-items: center;
  }

  &__button-budget {
    padding: 11px 28px;
    border: none;
    background: #969696;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s linear;

    &:hover {
      background: #8f8f8f;
    }
  }

  &__button-remove {
    padding: 11px 33px;
    border: none;
    background: #CF3520;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .2s linear;

    &:hover {
      background: #c4321f;
    }
  }
}

// app

.app {
  padding: 40px 0 0 0;

  .app__wrapper {
    padding-left: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .app__filter {
    padding-left: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 0 20px;

    &-title {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }

    &-categories {
      position: relative;
    }

    &-price {
      display: flex;
      align-items: center;
      gap: 0 5px;

      input {
        width: 110px;
        padding: 3px 7px;
        border: none;
        border-bottom: 2px solid #000;
        outline: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #969696;

        &::placeholder {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #969696;
        }
      }
    }
  }

  .app__budget {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;  
    
    span {
      color: #969696;
    }
  }

  .app__categories {
    &-title {
      padding-right: 23px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        background: url(../img/arrow-down.svg) no-repeat center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: .2s linear;
      }
    }
    &-list {
      display: none;
    }
  }

  .app__filter-categories.active {
    .app__categories-list {
      width: 150px;
      padding: 19px;
      background: #000;
      color: #fff;
      list-style: none;
      border-radius: 5px;
      z-index: 2;
      position: absolute;
      bottom: -210px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
  
      li {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        cursor: pointer;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .app__categories-title::before {
      transform: rotate(-180deg) translateY(50%);
    }
  }

  .app__price {
    &-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
    }
  }

  &__inner {
    padding-left: 40px;
    display: flex;
    gap: 0 40px;
  }

  &__form {
    font-family: 'Ubunty', sans-serif;
    width: 350px;
    height: 242px;
    background: #000;
    color: #fff;

    &-wrapper {
      padding: 30px 30px 20px 30px;
    }

    &-title {
      margin-bottom: 15px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
    }

    input {
      width: 290px;
      margin-bottom: 15px;
      padding: 3px 7px;
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #969696;
      display: block;
      background: #000;

      &::placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #969696;
      }
    }

    &-select {
      position: relative;
    }

    button {
      width: 100%;
      padding: 10px 133px;
      display: block;
      background-color: #19A127;
      border: none;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      cursor: pointer;
      transition: .2s linear;

      &:hover {
        background: #178d23;
      }
    }
  }

  .app__select {
    &-title {
      width: 290px;
      margin-bottom: 15px;
      padding: 3px 27px 3px 7px;
      border: none;
      border-bottom: 2px solid #fff;
      outline: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #969696;
      display: block;
      background: #000;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background: url(../img/arrow-down-2.svg) no-repeat center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: .2s linear;
      }
    }

    &-list {
      display: none;
    }
  }

  .app__form-select.active {
    .app__select-list {
      width: 290px;
      padding: 20px 30px;
      border-radius: 5px;
      display: block;
      list-style: none;
      position: absolute;
      left: 0;
      bottom: -233px;
      background: #000;

      li {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .app__select-title::before {
      transform: rotate(-180deg) translateY(50%);
    }
  }

  .app__table {
    &-header, .app__row {
      margin-bottom: 20px;
      padding-bottom: 5px;
      display: flex;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      text-align: center;
      align-items: center;
    }

    &-header, .app__table-rows {
      border-bottom: 2px solid #000;
    }
  }

  .app__row {
    text-align: center;
  }

  .app__header, .app__row {
    &-name {
      width: 104px;
    }

    &-amount {
      width: 143px;
      padding: 0 19px;
    }

    &-price {
      width: 192px;
      padding: 0 19px;
    }

    &-tag {
      width: 131px;
      padding: 0 14px;
    }

    &-calc {
      width: 200px;
      padding-left: 22px;
    }
  }

  &__header-name {
    padding: 0;
    text-align: left;
  }

  .app__row-tag--color {
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }

  .app__row-tag--yellow {
    padding: 7px 15px;
    background-color: #FFB800;
  }

  .app__row-tag--purple {
    padding: 7px 26px;
    background-color: #5025AB;
  }

  .app__row-tag--green {
    padding: 7px 24px;
    background-color: #48AB25;
  }

  .app__row-tag--blue {
    padding: 7px 22px;
    background-color: #2593AB;
  }

  .app__row-tag--orange {
    padding: 7px 29px;
    background-color: #FF5C00;
  }

  .app__row-tag--black {
    padding: 7px 26px;
    background-color: #000;
  }

  .app__table-result {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

    span {
      margin-left: 5px;

      &.gray {
        color: #969696;
      }
    }
  }
}